@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Inter+Tight:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --white-base: #f7f7ff;
  --foreground: #171717;

  /* Brand Colors */
  --primary: #191974;
  --accent: #ee2229;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --: 'Inter', sans-serif;
  --: 'Inter Tight', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* keep white for project if they want typical header style or adjust as needed */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1,
.heading {
  font-size: 65px;
}

.hero-heading {
  font-size: 65px;
}

h2,
h3,
.sub-heading {
  font-size: 16px;
}

button,
.btn,
a[role="button"],
input[type="button"],
input[type="submit"] {
  font-family: 'Inter Tight', sans-serif !important;
}